@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

@layer base {

:root {
  --primary-color: 18, 88, 117;
  --secondary-color: 62, 192, 239;
  --highlight: 106, 26, 6;
  --on-highlight: 255, 160, 70;
  --menu: 202, 202, 165;
  --heading: 255, 255, 255;
  --body: 119, 119, 119;
  --signature-font: 'WindSong', cursive;
  --img-hover: scale(1.1) rotate(5deg);
}

.dark {
  --primary-color: 17, 28, 68;
  --secondary-color: 14, 40, 135;
  --highlight: 106, 26, 6;
  --on-highlight: 18, 88, 117;
  --menu: 255, 115, 80;
  --heading: 255, 160, 70;
  --body: 255, 255, 255;
}

.light {
  --primary-color: 18, 88, 117;
  --secondary-color: 62, 192, 239;
  --highlight: 106, 26, 6;
  --on-highlight: 255, 255, 255;
  --menu: 22, 37, 66;
  --heading: 255, 255, 255;
  --body: 119, 119, 119;
}

main {
  background: 
    linear-gradient(rgba(239, 116, 7, 0.3), rgba(109, 233, 255, 0.5)), 
    url('/resources/images/musalla.jpg');
  background-size: cover;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  text-decoration: none;
  transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navigation-menu {
  color: var(--menu-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: nowrap;

}

.custom-link {
  @apply text-2xl font-bold;
  border: 2px solid rgb(var(--heading));
  color: rgba(var(--secondary-color));
  padding-left: 2px;
  padding-right: 2px;
  transition: transform 3s ease-in-out;

}

.custom-link:hover {
  border-radius: 10px; 
  border: 3px solid rgba(var(--secondary-color), 1);
  background-color: rgba(var(--menu));
  color: rgba(var(--secondary-color));
}

.icon {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
